<section class="not-found-page">
    <p class="eyebrow">{{t.notFoundEyebrow}}</p>
    <h1>{{t.notFoundTitle}}</h1>
    <p class="not-found-lead">{{t.notFoundIntro}}</p>
    <dl class="not-found-details">
        <div>
            <dt>{{t.notFoundPathLabel}}</dt>
            <dd><code>{{requestedPath}}</code></dd>
        </div>
        <div>
            <dt>{{t.notFoundStatusLabel}}</dt>
            <dd>{{t.notFoundStatusValue}}</dd>
        </div>
    </dl>
    <p class="not-found-help">{{t.notFoundHelp}}</p>
    <a class="button-link not-found-home" href="/">{{t.notFoundHomeLink}}</a>
</section>
